# ---- Terraform ----
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfplan

# Keep the dependency lock file committed:
!.terraform.lock.hcl

# OS/editor noise
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
